@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>OLAP recommender is developed at <a href="http://www.vse.cz">University of Economics, Prague</a></p>
<p>Contact author at koub00(at)vse.cz</p>
