@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Address: University of Economics, Prague<br />
    W. Churchill Sq. 4<br />
    130 67 Prague 3<br />
    Czech Republic<br />
</address>

<address>
    <strong>Author:</strong>   <a href="mailto:Support@example.com">koub00@vse.cz</a>
</address>