@using Recommender.Common.Enums
@model Recommender2.ViewModels.DatasetViewModel
@{
    ViewBag.Title = "Mined rules";
}

<h2>Data sets</h2>

<table class="table, table-bordered">
    <tr><th>Name</th><th>Mining tasks</th><th>Mine rules</th></tr>
    @foreach (var dataset in Model.Datasets.Where(d => d.State >= State.DimensionsAndMeasuresSet))
    {
        <tr>
            <td class="col-md-3">@Html.ActionLink(dataset.Name, "Details", "BrowseCube", new { id = dataset.Id }, null)</td>
            <td class="col-md-3">
                <ul>
                    @foreach (var task in dataset.MiningTasks)
                    {
                        <li>@Html.ActionLink(task.Name, "Details", "MinedResults", new { id = task.Id }, null)</li>
                    }
                </ul>
            </td>
            <td class="col-md-3">@Html.ActionLink("Mine rules", "Mine", new { id = dataset.Id })</td>
        </tr>
    }

</table>
