@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OLAP recommender</h1>
    <p class="lead">Browsing your OLAP cube for hours? Still haven't found anything interesting? Let's find trends and abnormalities in your data together! No installation, results in few minutes.</p>
    <p>@Html.ActionLink("Start now", "Index", "Upload", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Upload your aggregated data</h2>
        <p>
            Upload your aggregated data in .csv.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Do basic settings</h2>
        <p>Tell us what are dimensions and what are measures in your data. Set up interest measure (how strong trends you would like to find). Then grab a cup of coffee and when you are back, we'll give you the results.</p>
    </div>
    <div class="col-md-4">
        <h2>Browse your data</h2>
        <p>Mined results will guide you to the most interesting parts of the cube.</p>
    </div>
</div>